body {
	background: rgb(242, 249, 143);
    font-size: medium;
}
h1 {
	color:rgb(77, 55, 141);
	text-align: center;
    font-size: large;
}
.about {
    color:rgb(111, 111, 188);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.skills {
    color:rgb(204, 87, 173);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 20%;
    margin: 5px;
    height: fit-content;
    padding: 20px 10px;
    background: rgb(101, 40, 109); 
    border-radius: 25%;
    font-size: medium;
}
.contact {
    color:rgb(199, 49, 187);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(87, 15, 92); 
    display: block;
    margin: auto;
}
.projects h2 {
	width: 100%;
}
.project h3 {
    margin-left: 50px;
}
.project p {
    text-align: center;
    margin: 15px;
    font-size: medium;
}