body {
	background: rgb(213, 193, 110);
}
h1 {
	color:rgb(77, 55, 141);
	text-align: center;
}
.about {
    color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skills {
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(51, 155, 92); 
    border-radius: 25%;
}
.contact {
    color:palevioletred;
    font-family: 'Courier New', Courier, monospace;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(15, 92, 30); 
    display: block;
    margin: auto;
}
.projects h2 {
	width: 100%;
}
.project h3 {
    margin-left: 50px;
}
.project p {
    text-align: center;
    margin: 15px;
}